.todo-app {
    width: 300px;
    border-style: solid;
    padding: 10px;
}

.todo-input {
    text-align: center;
}

.todo-items {
    float: left;
    text-align: left !important;
}

.todo-item {
    word-wrap: break-word;
    width: 90%;
}

.todo-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}